<!DOCTYPE html>
<html>

<head>
    <title>Workout Results</title>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container" class="form-group">
        <div class="page-header">
            <h2>Exporting results of tracker to Excel</h2>
        </div>
        <br>
        <br>
        <p> File saved in the following location: </p>
        <br>
        <br>
        <p>Click <a href="/">here</a> to go home</p>
        <p>{{ datetime_now }}</p>
        <br>
        <br>
    </div>
</body>

</html>